{% extends "home/base.html" %}
{% load static %}
{% block title %}HOME{% endblock %}
{% block content %}
<div class="chart">
    <div class="chart-login">
        <!-- <img src="/app/home/static/img/GH1(1).jpg" alt=""> -->
        <!-- <img src="{% static 'img/GH1(1).jpg' %}" alt=""> -->
        <img id="chart_home" src="data:image/png;base64,{{ graph1 }}" alt="Chart1">
    </div>
    <div class="chart-postauth">
        <!-- <img src="{% static 'img/GH2(1).jpg' %}" alt=""> -->
        <img id="chart_Ac_Rj" src="data:image/png;base64,{{ graph2 }}" alt="Chart2">
    </div>

</div>
    <img id="chart" src="data:image/png;base64,{{ graph }}" alt="Chart">
{% endblock %}
