{% extends "home/base.html" %}
{% load static %}
{% block title %}NAS table{% endblock %}
        {% block content %}
        <div class="pagination">
                <span class="step-links">
                {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; </a>
                        <a href="?page={{ page_obj.previous_page_number }}" > < </a>
                {% endif %}
        
                <span class="current">
                        {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                </span>
        
                {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">></a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">  &raquo;</a>
                {% endif %}
                </span>
                <div class="search_box">
                        <form method="post" id="dropdown">
                                {% csrf_token %}
                                <select name="session_max_rows" id="sessionMaxRowsSelect" onchange="this.form.submit()">
                                        <option value=""></option>                                    
                                        <option value="25" {% if session_max_rows == "25" %} selected {% endif %}>25</option>
                                        <option value="50" {% if session_max_rows == "50" %} selected {% endif %}>50</option>
                                        <option value="100" {% if session_max_rows == "100" %} selected {% endif %}>100</option>
                                        <option value="250" {% if session_max_rows == "250" %} selected {% endif %}>250</option>
                                        <option value="500" {% if session_max_rows == "500" %} selected {% endif %}>500</option>
                                </select>
                        </form>
        
                        <form method="post">
                                {% csrf_token %}
                                <input type="text" name="search_value_nas" id="searchInput" value="{{ data_search }}">
                                <button type="submit">Search</button>
                        </form>
                </div>

        </div>
        
        <table id="mytables" class="table table-holover">
                <thead> 
                <tr>
                    <th>IP</th>
                    <th>short name</th>
                    <th>group</th>
                </tr>
                </thead>
                <tbody>
                    {% for row in page_obj  %}
                        <tr>
                            <td>{{row.1}}</td>
                            <td>{{row.2}}</td>
                            <td>{{row.3}}</td>
                        </tr>
                    {% endfor %} 
                </tbody>
               
        </table>
        <!-- Các liên kết phân trang -->
        {% endblock %}

